<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Mischief Managed</title>
  </head>

  <body>
    <div>
      <img class="fixed-image" src="/background-login-desktop.png" alt="" />
    </div>
    <div>
      <header>
        <h1 class="title">
          Mischief
          <br />
          Managed
        </h1>
        <div class="form-group" id="logout">
          <button class="logout" id="logoutButton">Log Out</button>
        </div>
      </header>
      <main>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{! <div class="milestone">
          <button href="/user">Milestones</button>
	   </div> }}

    <script src="/js/logout.js"></script>
  </body>

</html>