		<div class="container">
			<div class="form-container">
				<form id="login-form" class = "login-form">
					<div class="form-group">
						<input
							type="text"
							id="email-login"
							placeholder="email"
							required />
					</div>
					<div class="form-group">
						<input
							type="password"
							id="password-login"
							placeholder="password"
							required />
					</div>
					<div class="form-group">
						<button type="submit" id="login">Login</button>

						<button type="submit" id="signup">Sign Up</button>
						{{!-- <button type="submit" id="newAccount">Create Account</button> --}}
						<a href='/auth/google' className='btn btn-block btn-social btn-reddit ml-3'>
               <span className='fa fa-google'></span>
             Login with Google
             </a>
						{{!-- <button type="submit" id="newAccount">Create Account</button> --}}
					</div>
				</form>
			</div>
			{{!-- <div class="form-container">
				<form class= "signup-form">
					<div class="form-group">
						<input
							type="text"
							id="username-signup"
							placeholder="username"
							required />
					</div>
					<div class="form-group">
						<input
							type="text"
							id="email-signup"
							placeholder="email"
							required />
					</div>
					<div class="form-group">
						<input
							type="password"
							id="password-signup"
							placeholder="password"
							required />
					</div>
					<div class="form-group">
						<button type="submit" id="signup">Sign Up</button>
						<a href='/auth/google' className='btn btn-block btn-social btn-reddit ml-3'>
               <span className='fa fa-google'></span>
             Sign up with Google
             </a>
						{{!-- <button type="submit" id="newAccount">Create Account</button> --}}
					</div>
				</form>
			</div> --}}
			<script src='/js/login.js'></script>