

<div class="clr flex">
    <h2 class="clr fs">Your Milestones</h2>
    {{#each trivia}}
    <div>{{book.title}}</div>
    <img class="image" src="{{book.image}}" />
    <div>{{trivia}}%</div>
    <div>{{content}}</div>
    <br />
    {{/each}}
</div>