<div>
  <header>
    <h1 class="title-secondary">Select a Book</h1>
  </header>
</div>

<div class="books">
  {{#each books}}
    <div>
      <a href="/display/{{id}}" class="custom-cursor">
        <img class="book-cover" src="{{image}}" alt="{{title}} book cover" />
      </a>
    </div>
  {{/each}}
</div>

<script src="/js/logout.js"></script>