<div>
	<img
		class="book-cover"
		src="/covers/sorcerers_stone.png"
		alt="Sorcerer's Stone book cover"
	/>
	<figcaption>Sorcerer's Stone</figcaption>
</div>

<div>
	<img
		class="book-cover"
		src="/covers/chamber_of_secrets.png"
		alt="Chamber of Secrets book cover"
	/>
	<figcaption>Chamber of Secrets</figcaption>
</div>

<div>
	<img
		class="book-cover"
		src="/public/covers/prisoner_of_azkaban.png"
		alt="Prisoner of Azkaban book cover"
	/>
	<figcaption>Prisoner of Azkaban</figcaption>
</div>

<div>
	<img
		class="book-cover"
		src="/covers/goblet_of_fire.png"
		alt="Goblet of Fire book cover"
	/>
	<figcaption>Goblet of Fire</figcaption>
</div>

<div>
	<img
		class="book-cover"
		src="/covers/order_of_the_phoenix.png"
		alt="Order of the Phoenix book cover"
	/>
	<figure>Order of the Phoenix</figure>
</div>

<div>
	<img
		class="book-cover"
		src="/covers/half_blood_prince.png"
		alt="Half-Blood Prince book cover"
	/>
<figcaption>Half-Blood Prince</figcaption>
</div>

<div>
	<img
		class="book-cover"
		src="/covers/deathly_hallows.png"
		alt="Deathly Hallows book cover"
	/>
	<figcaption>Deathly Hallows</figcaption>
</div>