<div>
	<img
	 src="/covers/sorcerers_stone.png" 
	alt="Sorcerer's Stone book cover." />
</div>

<div>
	<img
		src="/covers/chamber_of_secrets.png"
		alt="Chamber of Secrets book cover."
	/>
</div>

<div>
	<img 
	src="/public/covers/prisoner_of_azkaban.png" 
	alt="Prisoner of Azkaban's book cover." />
</div>

<div>
	<img 
	src="/covers/goblet_of_fire.png" 
	alt="Goblet of Fire's book cover." />
</div>

<div>
	<img 
	src="/covers/order_of_the_phoenix.png" 
	alt="Order of the Phoenix's book cover." />
</div>

<div>
    <img 
	src="/covers/half_blood_prince.png" 
	alt="Half Blood Prince's book cover.">

</div>

<div>
    <img 
	src="/covers/deathly_hallows.png" 
	alt="Deathly Hallows' book cover">
</div>