<header>
  <h1 class="title-secondary">Select a Book</h1>
</header>
<div class = 'hide'>
  <audio id="myAudio" controls="false">
	    <source src="\Voicy_Harry_potter_theme.mp3" class = "hide" type ='audio/mpeg'>
  </audio>
</div>
<div class="spacing border-top"></div>
<div class="books">
  {{#each books}}
    <div>
      <a href="/display/{{id}}" class="custom-cursor">
        <img class="book-cover" src="{{image}}" alt="{{title}} book cover" />
      </a>
    </div>
  {{/each}}
</div>
<div class="spacing border-bottom"></div>

<script src="/js/logout.js"></script>
<script src="/js/index.js"></script>