<div>
	<img src="/covers/sorcerers_stone.png" alt="Sorcerer's Stone book cover" />
</div>

<div>
	<img
		src="/covers/chamber_of_secrets.png"
		alt="Chamber of Secrets book cover"
	/>
</div>

<div>
	<img src="/public/covers/prisoner_of_azkaban.png" alt="" />
</div>

<div>
	<img src="/covers/goblet_of_fire.png" alt="" />
</div>

<div>
	<img src="/covers/order_of_the_phoenix.png" alt="" />
</div>

<div>
    <img src="/covers/half_blood_prince.png" alt="">

</div>

<div>
    <img src="/covers/deathly_hallows.png" alt="">
</div>