<div class="books">
  {{#each books}}
    <div>
      <a href="/display/{{id}}" class = "custom-cursor">
        <img class="book-cover" src="{{image}}" alt="{{title}} book cover" />
      </a>
    </div>
  {{/each}}
</div>

<script src='/js/logout.js'></script>
