<div class="books">
  {{#each books}}
    <div>
      <a href="/display/{{id}}" class = "custom-cursor">
        <img class="book-cover" src="{{image}}" alt="{{title}} book cover" />
                <span class="tooltip">{{title}}</span>
      </a>
    </div>
  {{/each}}
</div>

<div class="form-group" id="logout">
  <button class="logout custom-cursor">Log Out</button>
</div>

<script src='/js/logout.js'></script>

