<div class="single-book-page">
	<div class="books-single">
		<img class="book-cover" src="{{image}}" alt="{{title}} book cover" />
	</div>

	<div class="dropdown">
		<button class="dropbtn">Dropdown</button>
		<div class="dropdown-content">
			<a href="#">Option 1</a>
			<a href="#">Option 2</a>
			<a href="#">Option 3</a>
		</div>
	</div>

	<div class="form-group" id="logout">
		<button class="logout">Log Out</button>
	</div>
</div>