body {
  font-family: "Bigelow Rules", cursive;
  font-size: 2rem;
}

.title {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 8rem;
  color: #ffbf00;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.fixed-image {
  position: fixed;
  z-index: -1000;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
  border-radius: 10px;
  background-color: #05061741;
  opacity: 90%;
}

.form-container form {
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust margin as needed */
}

.form-group .button-container button {
  width: 48%;
  height: 54px; /* Adjust height to match the input field */
  padding: 10px; /* Adjust padding for vertical centering */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #504f4f;
  font-family: "Bigelow Rules", sans-serif;
  font-size: 2.5rem;
  padding-top: 7px;
}

.form-group button,
.dropbtn {
  background-color: #ffbf00;
  font-weight: bold;
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
}

#login,
#signup {
  font-size: 2.5rem;
  font-weight: bold;
  height: 54px; /* Adjust height to match the input field */
  padding: 10px; /* Adjust padding for vertical centering */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  margin-left: 5%;
  width: 44%;
}

#signup {
  margin-right: 5%;
  width: 44%;
}

#google-btn {
  margin-left: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  width: 90%;
  height: 54px; /* Adjust height to match the input field */
  padding: 10px;
  padding-left: 0; /* Adjust padding for vertical centering */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-login {
  text-decoration: none;
  color: black;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.books {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.single-book-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.books-single {
  display: flex;
  justify-content: left;
  margin-left: 48px;
  width: 21%;
}

.book-cover {
  width: 75%;
  border-radius: 10px;
  box-shadow: 4px 4px 7px rgba(232, 229, 229, 0.2);
  transition: transform 0.2s;
}
.tooltip {
  font-size: 14px;
  font-family: sans-serif;
  position: absolute;
  display: none;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 100; /* Make sure it has a higher z-index */
  opacity: 0;
  transition: opacity 0.2s;
}

/* Apply the hover effect to the parent element */
.books a:hover .tooltip {
  display: block;
  opacity: 1;
}

.book-cover:hover {
  transform: scale(1.1); /* Enlarge the image when hovered */
}

.tooltip {
  font-family: sans-serif;
  font-size: 14px;
  position: absolute;
  display: none;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 100; /* Make sure it has a higher z-index */
  opacity: 0;
  transition: opacity 0.2s;
}

/* Apply the hover effect to the parent element */
.books a:hover .tooltip {
  display: block;
  opacity: 1;
}

.dropdown {
  display: flex;
  background-color: #ffbf00;
  margin-top: 3px;
  border-radius: 5px;
  justify-content: center;
}

.dropdown-content {
  display: none;
}
#logoutBtn {
  margin-top: 30px;
}

#logoutButton {
  display: none; /* Initially hide the logout button */
}

#logout {
  position: absolute;
  top: 15px; /* Adjust this value to position the button from the top */
  right: 15px; /* Adjust this value to position the button from the right */
}

.logout {
  height: 54px;
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: none;
  justify-content: center;
  align-items: center;
}

.books:first-child {
  margin-left: 3%;
}

.clr {
  color: white;
}

.image {
  height: 150px;
  width: 110px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fs {
  font-size: 60px;
  margin-bottom: 25px;
}
.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  color: white;
  min-width: 10%;
}

.google-btn {
  margin: 25px;
  width: 80%;
  min-width: 184px;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(66, 52, 52, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: -18px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none;
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  margin-right: 20px;
  width: 18px;
  height: 18px;
  user-select: none;
}
.google-btn .btn-text {
  float: right;
  margin: 15px 24px 49px 57px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .books {
    width: 75%;
    flex-direction: column;
    align-items: center;
  }
  .book-cover {
    margin-top: 15px;
    margin-left: 30%;
  }
}
